body {
  margin: 0px;
  font-family: monospace;
  color: rgb(255, 255, 255);
  background-color: rgb(6, 19, 33, 0.5);
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
}

.p-info {
  background-image: url(assets/BG1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* page-Nav */
.page-nav {
  color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 0px -5px;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 40px 40px 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.page-nav>a {
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.page-nav>.name {
  position: relative;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 2.3rem;
  z-index: 1000;
}

/* Mobile */
/* .page-nav {} */

/* Section */
section {
  padding: 20px 20px;
  color: rgb(196, 192, 192);
  height: 737px;
}

.head {
  color: rgb(255, 255, 255);
  position: absolute;
  overflow: hidden;
  top: 30%;
  z-index: 200;
  margin-left: 11%;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.page-heade>.page-header {
  display: flex;
  position: relative;
}

/* .page-heade>.nav-header>a {
  display: block;
  margin-right: 3.2rem;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
} */

.nav-header {
  margin-right: 0px;
}

.nav-link>a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style: none;
  font-size: 25px;
}

nav>a:hover {
  color: rgb(189, 219, 105);
  border-bottom: 1px solid rgb(37, 97, 2);
}

nav>a>.active {
  color: rgb(127, 255, 212);
  border-bottom: 1px solid rgba(122, 177, 187, 0.514);
}

.sec_text {
  font-size: 6.5rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.6rem;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}

.btn-info {
  text-align: center;
  margin-top: 3rem;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  border-radius: 25px;
  background: rgb(216, 86, 68);
  display: inline-block;
  transition: 0.3s;
  padding: 16px 18px;
}

.btn-info>a {
  color: rgb(255, 255, 255);
  font-size: 1.0rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.border {
  display: inline-block;
  margin-bottom: 2.5rem;
}

.border span {
  display: block;
  width: 70px;
  height: 3px;
  border-radius: 5px;
  background: rgb(210, 255, 104);
}

.border span:first-child {
  margin-bottom: 1.4rem;
}

.img-container .more-info {
  display: flex;
  justify-content: center;
}

.left-img a {
  width: 600px;
  height: 300px;
}

.description p a {
  display: flex;
  width: 50%;
  text-decoration: none;

}

.title-head {
  text-align: center;
  /* font-size: 24px; */
  text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
}

.heading p {
  font-size: 14px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.left, .right, .column {
  width: 45%;
  float: left;
}

.right {

  border-left: rgb(210, 255, 104) solid 2px;
  padding: 20px;
}

.description {
  transition: 0.3s;
}

.contac-form {
  background: linear-gradient(135deg, rgb(255, 165, 0) 60%, rgb(0, 255, 255));

}

strong {
  color: rgb(189, 219, 105);
}

/* Right Icon Link Display */
.social-icon {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 20%;
}

.social-icon ul li {
  text-decoration: none;
  list-style: none;
  margin: 10px;
}

.social-nav {
  padding-right: 20%;
  gap: 10px;
}

.social-nav a {
  padding: 0px;
  display: inline-flex;
  box-shadow: 5px 10px rgba(34, 33, 33, 0.377);
  border-radius: 25px; border: 1px solid rgb(216, 86, 68);
}

/* .social-nav li a {
 
} */

.social-nav a img:hover {
  margin-left: 20%;
  /* position: absolute; */
  right: 20;
  transition: 0.3s;
}

.column>.content>img {
  width: 65%;
  height: 350px;
}


/* 
.social-nav li {
  margin: 5px;
  display: block;
  padding: 5px;
}

/* About me */

/* Get In Touch */

/* footer */
.footer-content {

  bottom: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 25px 0px;
  font-weight: 700;

}

.footer-text {
  color: rgb(255, 255, 255);
}